* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: #001d3b;
}

.container{
    width: 100vw;
    margin: auto;
}
.loading-page {
    height: 100vh;
    width: 100vw;
    background-image: url("./img/background-img.jpg");
    background-size: cover;
    position: relative;
}
.loading-page > p {
    font-size: 80px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header {
    color: rgb(197, 213, 228);
    width: 520px;
}
h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 100;
    padding: 10px 0;
}
.game {
    height: 95vh;
    width: 100vw;
    padding: 40px 0 0 0;
}
.game > div {
    margin: 20px auto;
}
.row {
    display: flex;
}
.col {
    border: 1px solid black;
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
    transition: all 0.1s;
    background-color: #92a8c2;
    margin: 3px;
    border-radius: 5px;
}
.main {
    border: 1px solid black;
    height: 100px;
    width: 520px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(188, 212, 222);
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.515) inset;
}
.main > div {
    margin: auto;
}
.main > div > p {
    text-align: center;
    padding: 5px;
}
.game-main {
    height: 520px;
    width: 520px;
    margin: auto;
}
.result {
    height: 520px;
    width: 520px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.result > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.result > div > p {
    font-size: 27px;
    font-weight: 600;
    color: #90b7c3;
}
.main > div > button {
    width: fit-content;
    padding: 8px 16px;
    outline: none;
    border: none;
    background-color: #0a0a64;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.result > div > button {
    width: fit-content;
    padding: 8px 16px;
    outline: none;
    border: none;
    background-color: #a5b2dd;
    color: #32316c;
    border-radius: 5px;
}
.hide {
    display: none;
}
.opacity {
    opacity: 0.2;
}
